<div class="container">
  <h3 class="mt-3 mb-1">Air Quality Data</h3>
  <p class="pb-2 border-bottom">Here is the dataset that we used for our model.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>AQI</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Wind Speed</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @air_quality_data.each do |datum| %>
        <tr>
          <td><%= number_with_precision(datum.aqi, precision: 3) %></td>
          <td><%= number_with_precision(datum.temp, precision: 2) %></td>
          <td><%= number_with_precision(datum.humidity, precision: 2) %></td>
          <td><%= number_with_precision(datum.wspd, precision: 2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
